/*import font style from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
/*set styles used throughout the page*/
:root {
    --light-blue: rgb(158, 229, 241);
    --medium-blue: rgb(63, 72, 107);
    --dark-gray: rgb(58, 61, 68);
    --open-sans: 'Open Sans', sans-serif;
}
/*make box width and height correspond to actual values*/
* {
    box-sizing: border-box;
}

/*set to a uniform margin, padding, and font*/
body {
    margin: 0px;
    padding: 0px;
    color: var(--medium-blue);
    font-family: var(--open-sans);
}
/*style main header using color and position*/
#page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 12px;
    background-color: var(--dark-gray);
}
/*changing color of text/background, positioning using box elements, and width within header's box*/
#page-header h1 {
    margin: 0px;
    font-size: 275%;
    padding-left: 30%;
    width: fit-content;
    padding-right: 10%;
    color: var(--dark-gray);
    background-color: var(--light-blue);
}
/* change navbar background color*/
#navbar {
    background-color: var(--dark-gray);
    padding-right: 100px;
}
/*change positioning of navbar content in header, color of text, and set list style to have no bullet points*/
#navbar ul{
    list-style-type: none;
    color: var(--light-blue);
    
}
/*makes list diplay inline and changes spacing between them, as well as adds an "underline" using border properties*/
#navbar li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-left: 5px;
    border-bottom: var(--light-blue) solid 4px;
}
/*changes navbar color when hovered over*/
#navbar a:hover {
    color: rgb(63, 110, 212)
}
/*chanegs font size of navbar items, color, and sets text-decoration to have no underline*/
#navbar a {
    font-size: 115%;
    text-decoration: none;
    color: var(--light-blue);
}
/*changes subtitle text under header to fit content and positions it to the bottom right of the image*/
#image p {
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 200%;
    font-weight: 600;
    color: var(--dark-gray);
    background-color: var(--light-blue);
    width: fit-content;
    position: absolute;
    top: 220px;
    right: 65px;
}
/*changes font size and positioning of aside text*/
.side-headers {
    font-size: 300%;
    position: absolute;
    text-align: end;
}
/*makes aside text display block*/
.side-headers a {
    display: block;
}
/*changes position of aside text*/
#am-header{
    top: -40px;
    left: -180px;
}
#w-header {
    top: -40px;
    left:-160px;
}
#c-header {
    top: -80px;
    left: -230px;
}
/*changes distance of containers in main from side of page, adds border to left of elements, and positioning */
.main-container {
    padding: 25px;
    padding-top: 0px;
    margin: 30px;
    margin-left: 310px;
    border-left: solid 5px var(--medium-blue);
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
/*adds borders and background color to image and image texts*/
.main-container div{
    border: 5px solid var(--light-blue);
    background-color: var(--light-blue);
    margin: 10px;
}
/*sets image to not repeat on background and changes opacity of image*/
.box  {
    background-repeat: no-repeat;
    opacity: 70%;
}
/*makes image more clear when hovered over*/ 
#work div:hover {
    opacity: 100%;
}

/*sets background image and size of image*/
#box-1 {
    padding-right: 97%;
    padding-top: 500px;
    background-image: url(../images/surf.jpeg);
}
#box-2 {
    padding-right: 47%;
    background-image: url(../images/led.jpeg);
}
#box-3 {
    padding-right: 47%;
    background-image: url(../images/calculator.jpeg);
}
#box-4 {
    padding-right: 47%;
    background-image: url(../images/pastel.jpeg);
}
#box-5 {
    padding-right: 47%;
    background-image: url(../images/run-buddy.jpeg);
}
/*changes positioning of image text, padding, and color*/
.text {
    position: absolute;
    padding:10px;
    color: var(--dark-gray);
}
/*changes list style type, space between items, uses border-bottom instead of underline, color, annd displays items inline*/
#contact-me ul{
    list-style: none;
    text-decoration: none;
}
#contact-me li {
    display: inline;
}
#contact-me ul a {
    margin: 50px;
    line-height: 20px;
    text-decoration: none;
    color: var(--medium-blue);
    border-bottom: var(--medium-blue) solid 3px;
}
/*making webpage responsive by changing variables to make the elements fit better under certain widths*/
@media only screen and (max-width:750px) {
    #page-header {
        display: block;
    }
}
/*making webpage responsive by changing variables to make the elements fit better under certain widths*/
@media only screen and (max-width:365px) {
    #page-header h1{
        font-size: 200%;
    }
    #navbar a {
        font-size: 100%;
    }
    #image p {
        display:none;
    }
}